
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.App {
  text-align: center;
  /* background-image: url('./images/dune.png');  */
/* background-color: rgb(108,92,140); */
 /* background: linear-gradient(180deg, rgb(115, 87, 169) 0%, rgb(97, 209, 114) 80%);   */
 /* background-color: green;  */


  background-image: linear-gradient(to bottom, rgb(101, 73, 159), rgba(240, 240, 1  , 0.1)),url("./images/dune.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-button{
  /* background-color: green; */
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 2rem;
  text-decoration: none;
  width: 25rem;
  color: white;
  background-color: 	#48398f;
  opacity: 0.9;
  font-family: 'Quicksand';
  margin-top: -20px;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  
  /* width: 100%; */
}

.login-button:hover{
  /* color: black; */
  
  background-color: #24146d;
  
  /* width: 100%; */
}

button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 2rem;
  border: 0;
  text-decoration: none;
  color: white;
  background-color: 	#D3D3D3;
  opacity: 0.9;
  font-family: 'Quicksand';
  margin-top: -25px;
  display: inline-block;
}

.input {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  
  font-family: 'Quicksand';
  /* font-size: large; */
  border: 0;
  border-radius: 2rem;
  width: 10%;
  display: inline-block;
  text-align: center;
  opacity: 0.9;
  color: white;
  background-color: 	#D3D3D3;
}

/* .rendered{ */
  /* background-color: #24146d; */
/* } */

.rendered input{
  background-color: #48398f;
  width: 3rem;
}

.rendered button{
  background-color: #48398f;
}

#rec{
  display: none;
  margin-bottom: -0.5rem;
  font-size: 1rem;
  /* background-color: #24146d; */
}

.input:focus {
  outline-width: 0;
  color: white;
}

/* Customize the appearance of the spin buttons */
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}

input[type="number"]::-webkit-outer-spin-button {
  background-color: #0f0;
  color: #fff;
  padding: 0.5em;
  font-size: 1.2em;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  color: red;
}

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

form button{
  margin-left: 1rem;
  background-color: #48398f;
}

form button:hover{
  background-color: #24146d;
}

input[type="text"] {
  width: 25rem;
  font-family: 'Quicksand';
  /* border-radius: 1rem; */
  font-size: 1.1rem;
}

.text {
  display: inline-block;
}



.App-header h1{
  font-family: 'Quicksand';
  /* background-color: black; */
  width: 100%;
  margin-top: 5rem;
}

.App-header iframe{
  background-color: #24146d;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 5rem;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.title-img{
  max-width: 100%;
  height: auto;
  width: 30vw; /* Adjust the value as needed */
transform: rotate(7deg);
position: fixed;
bottom: 9.5vh;
right: 0vw;
/* width: 300px; */
/* border: 3px solid #73AD21; */
z-index:-1;
animation: rotate-back-and-forth 3s ease-in-out infinite;
/* background-color: #61dafb; */
}

.user2{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background-color: beige; */
  margin-top: 0.5em;
  max-width: 100%;
  font-size: 1rem;
}


.div1 button{
  margin-top: -1rem;
  padding: none;
  background-color: #48398f;
  font-size: 1.2rem;
  /* margin-top: auto; */
}
.div1 button:hover{

  background-color: #24146d;
}

button:hover{
  cursor:pointer;
}

.div1 {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: -1.5rem;
  right: 0;
  margin: 2rem;
  font-family: 'Quicksand';
  /* background-color: #48398f; */
  align-items: flex-end;
}



/* .user2 {
  position: fixed;
  top: 0.5rem;
  right: 0;
  margin: 2rem;
  font-family: 'Quicksand';
} */

.subbutton:hover{
  background-color: #24146d;
}

.subbutton{
  background-color: #48398f;
}

.icon {
  margin-left: 1rem;
  width: 2rem;
  /* background-color: #24146d; */
}

@keyframes rotate-back-and-forth {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

