
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.App {
  text-align: center;
  /* background-image: url('./images/dune.png');  */
/* background-color: rgb(108,92,140); */
 /* background: linear-gradient(180deg, rgb(115, 87, 169) 0%, rgb(97, 209, 114) 80%);   */
 /* background-color: green;  */


  background-image: linear-gradient(to bottom, rgb(101, 73, 159), rgba(240, 240, 1  , 0.1)),url("./images/dune.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-button{
  /* background-color: green; */
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 2rem;
  text-decoration: none;
  width: 25rem;
  color: white;
  background-color: 	#6658ab;
  opacity: 0.9;
  font-family: 'Quicksand';
  margin-top: -25px;
  
  /* width: 100%; */
}

.login-button:hover{
  /* color: black; */
  
  background-color: #48398f;
  
  /* width: 100%; */
}

.App-header h1{
  font-family: 'Quicksand';
  /* background-color: black; */
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 5rem;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.title-img{
width: 500.01px;
height: 500.17px;
transform: rotate(7deg);
position: fixed;
bottom: 100px;
right: -10px;
/* width: 300px; */
/* border: 3px solid #73AD21; */
z-index:-1;
/* background-color: #61dafb; */
}